.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width:300px;
}

.widget-wrapper{
  width: 440px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.mat-form-field{
  width:300px;
  padding: 10px 0;
}
.urgency-input{
  width:150px;
}

.mat-card-content-wrapper{
  width:300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.sub-form-wrapper{
  width:300px;
  display: flex;
  justify-content: space-between;
}

.half-field{
  width:145px;
  /*margin: 0 2px;*/
}

/*.mat-button{*/
/*  color: white;*/
/*  background: #239a23;*/
/*}*/

textarea{
  border:1px solid gray;
}
.helper-button {
  height: 60px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d8d8;
  position: fixed;
  right: 15px;
  bottom: 15px;

}
.mat-icon{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e6e6e;
}

