<button class="helper-button" mat-button (click)="showHelper()"><mat-icon>chat</mat-icon></button>

<swal #swalReportIssue [showCloseButton]="true" [showConfirmButton]="false">
  <div *swalPartial>

    <form [formGroup]="widgetForm">
      <mat-card class="widget-wrapper">
        <mat-card-title>
          Report a Issue
        </mat-card-title>
        <mat-card-content class="mat-card-content-wrapper">
          <div class="sub-form-wrapper">
            <mat-form-field class="half-field">
              <input matInput [matDatepicker]="picker" placeholder="Due Date (Optional)"
                     formControlName="dueBy">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="urgency-input half-field">
              <mat-select placeholder="Issue Urgency" formControlName="urgency">
                <mat-option *ngFor="let urgency of urgencies" [value]="urgency.value">
                  {{urgency.type | titlecase}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-wrapper">
            <div class="sub-form-wrapper">
              <mat-form-field class="urgency-input half-field">
                <mat-select placeholder="Categories (Optional)" formControlName="categories">
                  <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.type | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="urgency-input half-field">
                <mat-select placeholder="Sub Categories (Optional)" formControlName="subCategories">
                  <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.type | titlecase}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field>
              <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>

            <mat-form-field>
              <textarea matInput placeholder="Description" rows="8" w formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <button mat-button color="primary" (click)="submitReport()" [disabled]="!widgetForm.valid || !widgetForm.dirty">Submit</button>
        </mat-card-content>
      </mat-card>
    </form>

  </div>
</swal>


